#login, #loggedin {
  display: none;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
#search-form, .form-control {
  margin-bottom: 20px;
}
.cover {
  width: 300px;
  height: 300px;
  display: inline-block;
  background-size: cover;
}
.cover:hover {
  cursor: pointer;
}
.cover.playing {
  border: 5px solid #e45343;
}