<!doctype html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>

    <div class="container">
      <h1>Search for an Artist</h1>
      <p>Type an artist name and click on "Search".</p>
      <form id="search-form">
        <input type="text" id="query" value="" class="form-control" placeholder="Type an Artist Name"/>
        <input type="submit" id="search" class="btn btn-primary" value="Search" />
      </form>
      <div id="results"></div>
    </div>

    <div id="network" style="height: 65vh;"></div>

  </body>
</html>
